nav.navbar.navbar-light.bg-light.shadow {
  a.navbar-brand {

    img.nav-logo {
      width  : 60px;
      padding: 0px;
      margin : 0px;
    }

    span.nav-title {
      font-family: 'Nasalization Rg', sans-serif;
      font-size  : 2rem;
      position   : absolute;
      left       : 5.5rem;
      top        : 1.2rem;
    }
    
  }
}