/* Importing Effects. */
@import './../../../assets/effects/effects.scss';

nav.navbar.fixed-top.navbar-light.bg-light.shadow {
  background-color: #0b3d91 !important;

  a.navbar-brand {

    img#headerLogo {
      width   : 60px;
      position: absolute;
      top     : 0;
      left    : 0;
    }

    span.nav-title {
      font-family: 'Nasalization Rg', sans-serif;
      font-size  : 2rem;
      font-weight: 100;
      text-shadow: 0 0 10px black;
      color      : white;
      position   : relative;
      left       : 80px;
      top        : 0;
    }
  }

  div.link-menu-list {
    width: 100%;

    a.link-menu-item {
      color: white;
      font-family: 'Nasalization Rg',
        sans-serif;
      text-transform: uppercase;
    }
  }
}