/* Importing Effects. */
@import './../../../assets/effects/effects.scss';

nav.navbar.navbar-light.bg-light.shadow {
  background-color: #0b3d91 !important;

  a.navbar-brand {

    img.nav-logo {
      width  : 60px;
      padding: 0px;
      margin : 0px;
    }

    span.nav-title {
      font-family: 'Nasalization Rg', sans-serif;
      font-size  : 2rem;
      font-weight: 100;
      text-shadow: 0 0 10px black;
      color      : white;
      position   : relative;
      left       : 0;
      top        : 0;

    }

  }
}