div.container {
  div.menu-box {
    position: absolute;
    top     : 90px;

    div.col-md-2.badge-menu-item {

      span.badge.badge-custom.bg-secondary {
        font-family: "Nasalization Rg",
          sans-serif;
        font-size       : 15px;
        color           : white;
        padding         : 10px 10px;
        font-weight     : 100 !important;
        background-color: #185fd6 !important;
        text-shadow     : 0 0 5px black;
        cursor          : pointer;
        line-height     : 18px;

        a {
          text-decoration: none !important;
          color          : white;
        }
      }

      span.badge.badge-custom.bg-secondary:hover {
        background-color: #0b3d91 !important;
      }

    }
  }

}