.container {
  position: relative;
  width   : 235px;
  height  : 235px;
  margin  : 100px auto;
}

.outer {
  background-color: #0066b2;
  width           : 235px;
  height          : 235px;
  border-radius   : 167px;
  position        : absolute;
  z-index         : 1;
}

.red-top-right {
  width            : 175px;
  height           : 87px;
  border-width     : 0 0 16px 0;
  border-color     : transparent transparent #ec1c24 transparent;
  border-style     : solid;
  border-radius    : 0 0 350px 0 / 0 0 87px 0;
  position         : absolute;
  top              : 0;
  left             : 106px;
  z-index          : 50;
  -webkit-transform: rotate(-15deg);
  transform        : rotate(-15deg);
}

.red-top-left {
  width            : 175px;
  height           : 87px;
  border-width     : 16px 0 0 0;
  border-color     : #ec1c24 transparent transparent transparent;
  border-style     : solid;
  border-radius    : 350px 0 0 0 / 87px 0 0 0;
  position         : absolute;
  top              : 124px;
  z-index          : 60;
  left             : -40px;
  -webkit-transform: rotate(-12deg);
  transform        : rotate(-12deg);
}

.orbit {
  border           : 2px solid #FFF;
  border-radius    : 173px / 68px;
  position         : absolute;
  width            : 173px;
  height           : 68px;
  z-index          : 50;
  top              : 78px;
  left             : 33px;
  -webkit-transform: rotate(51deg);
  transform        : rotate(51deg);
}

.drop {
  width           : 8px;
  height          : 8px;
  border-radius   : 0 8px 8px 8px / 0 8px 8px 8px;
  background-color: #FFF;
  position        : absolute;
  z-index         : 60;
  top             : 154px;
  left            : 111px;
}

.dropmask {
  width           : 22px;
  height          : 22px;
  background-color: #0066b2;
  position        : absolute;
  top             : 159px;
  left            : 117px;
  z-index         : 50;
}

.text {
  font-family: "Nasalization Rg",
    sans-serif;
  color         : #FFF;
  position      : relative;
  font-size     : 3rem;
  margin        : 0 auto;
  display       : block;
  top           : 0px;
  letter-spacing: 1.4px;
  z-index       : 100 !important;
  font-weight   : bold;
}

.red-bot-right {
  width            : 175px;
  height           : 87px;
  border-width     : 0 0 8px 0;
  border-color     : transparent transparent #ec1c24 transparent;
  border-style     : solid;
  border-radius    : 0 0 350px 0 / 0 0 87px 0;
  position         : absolute;
  top              : 15px;
  left             : 110px;
  z-index          : 40;
  -webkit-transform: rotate(-23deg);
  transform        : rotate(-23deg);
}

.red-bot-left {
  width            : 175px;
  height           : 87px;
  border-width     : 8px 0 0 0;
  border-color     : #ec1c24 transparent transparent transparent;
  border-style     : solid;
  border-radius    : 350px 0 0 0 / 87px 0 0 0;
  position         : absolute;
  top              : 149px;
  z-index          : 110;
  left             : 16px;
  -webkit-transform: rotate(-23deg);
  transform        : rotate(-23deg);
}

.lstar {
  width           : 2px;
  height          : 2px;
  background-color: #FFF;
  position        : absolute;
  z-index         : 200;
}

.mstar {
  width           : 4px;
  height          : 4px;
  border-radius   : 2px;
  background-color: #FFF;
  position        : absolute;
  z-index         : 200;
}

.bstar {
  width           : 10px;
  height          : 10px;
  background-color: #FFF;
  position        : absolute;
  overflow        : hidden;
  z-index         : 200;
}

.bstar div {
  border-radius   : 5px;
  width           : 10px;
  height          : 10px;
  background-color: #0066b2;
  position        : absolute;
  top             : -5px;
  left            : -5px;
}

.bstar div+div {
  top : -5px;
  left: 5px;
}

.bstar div+div+div {
  top : 5px;
  left: 5px;
}

.bstar div+div+div+div {
  top : 5px;
  left: -5px;
}

#big1 {
  left: 138px;
  top : 18px;
}

#big2 {
  left: 84px;
  top : 55px;
}

#big3 {
  left: 70px;
  top : 200px;
}

#big4 {
  left: 204px;
  top : 150px;
}

#big5 {
  left: 194px;
  top : 178px;
}

#m1 {
  left: 118px;
  top : 9px;
}

#m2 {
  left: 111px;
  top : 22px;
}

#m3 {
  left: 124px;
  top : 24px;
}

#m4 {
  left: 114px;
  top : 32px;
}

#m5 {
  left: 141px;
  top : 47px;
}

#m6 {
  left: 45px;
  top : 169px;
}

#m7 {
  left: 48px;
  top : 177px;
}

#m8 {
  left: 75px;
  top : 158px;
}

#m9 {
  left: 83px;
  top : 180px;
}

#m10 {
  left: 177px;
  top : 163px;
}

#m11 {
  left: 194px;
  top : 154px;
}

#m12 {
  left: 211px;
  top : 161px;
}

#m13 {
  left: 205px;
  top : 179px;
}

#m14 {
  left: 177px;
  top : 154px;
}

#l1 {
  left: 96px;
  top : 32px;
}

#l2 {
  left: 98px;
  top : 34px;
}

#l3 {
  left: 101px;
  top : 36px;
}

#l4 {
  left: 97px;
  top : 39px;
}

#l5 {
  left: 125px;
  top : 38px;
}

#l6 {
  left: 75px;
  top : 55px;
}

#l7 {
  left: 79px;
  top : 60px;
}

#l8 {
  left: 32px;
  top : 171px;
}

#l9 {
  left: 76px;
  top : 141px;
}

#l10 {
  left: 44px;
  top : 176px;
}

#l11 {
  left: 63px;
  top : 168px;
}

#l12 {
  left: 72px;
  top : 189px;
}

#l13 {
  left: 85px;
  top : 192px;
}


#l14 {
  left: 111px;
  top : 189px;
}


#l15 {
  left: 128px;
  top : 181px;
}


#l16 {
  left: 168px;
  top : 161px;
}

#l17 {
  left: 193px;
  top : 149px;
}

#l18 {
  left: 195px;
  top : 174px;
}

#l19 {
  left: 168px;
  top : 174px;
}

#l20 {
  left: 194px;
  top : 173px;
}

#l21 {
  left: 173px;
  top : 200px;
}