<div class="container">
  <div class="outer"></div>
  <div class="text">MYNASA</div>
  <div class="red-top-left"></div>
  <div class="red-top-right"></div>
  <div class="red-bot-left"></div>
  <div class="red-bot-right"></div>
  <div class="orbit"></div>
  <div class="drop"></div>
  <div class="dropmask"></div>
  <div class="lstar" id="l1"></div>
  <div class="lstar" id="l2"></div>
  <div class="lstar" id="l3"></div>
  <div class="lstar" id="l4"></div>
  <div class="lstar" id="l5"></div>
  <div class="lstar" id="l6"></div>
  <div class="lstar" id="l7"></div>
  <div class="lstar" id="l8"></div>
  <div class="lstar" id="l9"></div>
  <div class="lstar" id="l10"></div>
  <div class="lstar" id="l11"></div>
  <div class="lstar" id="l12"></div>
  <div class="lstar" id="l13"></div>
  <div class="lstar" id="l14"></div>
  <div class="lstar" id="l15"></div>
  <div class="lstar" id="l16"></div>
  <div class="lstar" id="l17"></div>
  <div class="lstar" id="l18"></div>
  <div class="lstar" id="l19"></div>
  <div class="lstar" id="l20"></div>
  <div class="lstar" id="l21"></div>
  <div class="mstar" id="m1"></div>
  <div class="mstar" id="m2"></div>
  <div class="mstar" id="m3"></div>
  <div class="mstar" id="m4"></div>
  <div class="mstar" id="m5"></div>
  <div class="mstar" id="m6"></div>
  <div class="mstar" id="m7"></div>
  <div class="mstar" id="m8"></div>
  <div class="mstar" id="m9"></div>
  <div class="mstar" id="m10"></div>
  <div class="mstar" id="m11"></div>
  <div class="mstar" id="m12"></div>
  <div class="mstar" id="m13"></div>
  <div class="mstar" id="m14"></div>
  <div class="bstar" id="big1"><div></div><div></div><div></div><div></div></div>
  <div class="bstar" id="big2"><div></div><div></div><div></div><div></div></div>
  <div class="bstar" id="big3"><div></div><div></div><div></div><div></div></div>
  <div class="bstar" id="big4"><div></div><div></div><div></div><div></div></div>
  <div class="bstar" id="big5"><div></div><div></div><div></div><div></div></div>
</div>