<div class="container my-5 py-5">
  <div class="card my-5 p-3">
    <div class="card-body text-center">
      <h1 class="title-page">{{titlePage}}</h1>

      <div class="line"></div>

      <h1 class="subtitle-page">
        List of Asteroids based on their closest approach date to Earth.
      </h1>
      <div class="row">
        <div class="col-md-12">
          <img class="img-bottom-article"
            src="./../../../assets/image/meteor.svg" alt="">
        </div>
        <div class="col-md-12 text-left">
          <h3 class="subtitle-page-3">Select the period to be consulted:</h3>
        </div>

        <div class="form-group col-md-3 text-left">
          <Label for="startDate">Date:</Label>
          <input
            id="startDate"
            type="date"
            class="form-control"
            value="startDate"
            [(ngModel)]="startDate">
        </div>

        <div class="col-md-6 text-left">
          <button (click)="onSearch()" class="btn btn-secondary btn-search">Search</button>
        </div>

        <div class="line"></div>

        <div class="col-md-12">
          <ng-container *ngIf="errorFlag; else elseTemplate">
            <p class="text-error">
              {{errorMessage}}
            </p>
          </ng-container>

          <ng-template #elseTemplate>
            <p class="simple-p">
              {{elementCount}} records found.
            </p>
          </ng-template>
        </div>




      </div>
    </div>
  </div>
</div>
