<div class="container my-5 py-5">
  <div class="card my-5 p-3">
    <div class="card-body text-center">
      <h1 class="title-page">{{titlePage}}</h1>

      <div class="line"></div>

      <div class="row">
        <div class="col-md-4">

          <ngb-datepicker
            #dp (dateSelect)="onDateSelection($event)"
            [displayMonths]="2"
            [dayTemplate]="t"
            outsideDays="hidden">
          </ngb-datepicker>

          <ng-template #t let-date let-focused="focused">
            <span class="custom-day"
              [class.focused]="focused"
              [class.range]="isRange(date)"
              [class.faded]="isHovered(date) || isInside(date)"
              (mouseenter)="hoveredDate= date"
              (mouseleave)="hoveredDate= null">
              {{ date.day }}
            </span>
          </ng-template>

        </div>

        <div class="col-md-8">
          {{start_date | date: 'dd/MM/yyyy'}}
        </div>

      </div>




    </div>
  </div>
</div>
