div.container.my-5.py-5 {

  div.card.my-5.p-3 {
    box-shadow: none !important;

    div.card-body.text-center {

      h1.title-page {
        font-family   : 'Nasalization Rg', sans-serif;
        text-transform: uppercase;
      }

      div.line {
        border-top: 1px solid #d4d4d4;
        width     : 100%;
        margin    : 20px auto;
      }

      h1.subtitle-page {
        margin     : 30px auto;
        font-family: 'Saira Condensed', sans-serif;
        font-weight: 600;
      }

      img.img-bottom-article {
        width : 35vh;
        margin: 20px auto;
      }

      h3.subtitle-page-3 {
        font-family: 'Saira Condensed', sans-serif;
      }

      p.simple-p {
        font-family: 'Saira Condensed',
          sans-serif;
        font-weight: 600;
        font-size  : 25px;
        color      : #32a2cd;
      }

      button.btn.btn-secondary.btn-search {
        position: relative;
        top     : 32px;
      }
    }
  }
}